.cardContainer {
    position: relative;
    margin-bottom: 24px;
    display: 'flex';
}

.newsCaption {
    width: 280px;
    background: #FFFFFF;
    border-radius: 12px;
    height: 104px;
    padding: 20px;
}

.imageCaption {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

.imageCaptionContent {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.newsDetail {
    display: flex;
    justify-content: flex-start;
    width: 240px;
}

.imageContainer {
    width: 36px;
    height: 36px;
    border-radius: 12px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.profileSection {
    margin-left: 6px;
}

.captionDetail {
    font-size: 12px;
    color: #78849E;
    margin-top: 12px;
}

.feauteredContainer {
    position: relative;
    margin-bottom: 100px;
}


.featuredImageCaptionContent {
    height: 160px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.featuredCaption {
    width: 100%;
    position: absolute;
    top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredDetail {
    width: 80%;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 21px;
}

.dataProfile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.captionAction {
    border-top: 1px solid #78849E;
    font-size: 12px;
    color: #78849E;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.flexStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}